Ambassador returns 400 bad request.

**Describe the bug**
Ambassador do not accept "Authorization " header name (notice space after) and return 400 Bad request.

**To Reproduce**
just make a curl to your ambassador deployment 
```
curl --request GET \
  --url https://you-ambassador-deployment/your-service/sample \
  --header 'authorization : Bearer JAVA_IS_THE_BEST' \
  --header 'content-type: application/json'
```

and exactly the same CURL is passed downstream, but just fix header name value to 
'authorization: Bearer JAVA_IS_THE_BEST'

**Expected behavior**
Request should be forwarded further and bad-request should not be returned. 

**Versions (please complete the following information):**
 - Ambassador: ambassador:0.39.0
 - Kubernetes environment : not able to determine right now.



We're a bit at the mercy of Envoy here which has possibly decided this shouldn't work because [RFC 7230](https://tools.ietf.org/html/rfc7230#section-3.2) states this:

> Each header field consists of a case-insensitive field name followed
> by a colon (":"), optional leading whitespace, the field value, and
> optional trailing whitespace.
> 
>  
>   header-field   = field-name ":" OWS field-value OWS
> 
>   field-name     = token
>   field-value    = *( field-content / obs-fold )
>   field-content  = field-vchar [ 1*( SP / HTAB ) field-vchar ]
>   field-vchar    = VCHAR / obs-text
> 
>   obs-fold       = CRLF 1*( SP / HTAB )
>                  ; obsolete line folding
>                  ; see Section 3.2.4
> 
> The field-name token labels the corresponding field-value as having
> the semantics defined by that header field.  For example, the Date
> header field is defined in Section 7.1.1.2 of [RFC7231] as containing
> the origination timestamp for the message in which it appears.

So `field-name = token` which is defined down in https://tools.ietf.org/html/rfc7230#appendix-B:

```
tchar = "!" / "#" / "$" / "%" / "&" / "'" / "*" / "+" / "-" / "." /
    "^" / "_" / "`" / "|" / "~" / DIGIT / ALPHA
token = 1*tchar
```

The whitespace character isn't defined as part of `tchar` and therefore isn't part of `token`. Assuming I am interpreting that correctly that means `field-name` cannot have whitespace in it which makes `Authorization :` illegal.

My best practical suggestion would be to fix any code that is creating illegal HTTP requests. @kflynn thoughts? Does this interpretation of the spec seem correct?

```
My best practical suggestion would be to fix any code that is creating illegal HTTP requests. 
```
yeah, sure, 100%agree with that, we fixed that on our side, I was just asked for ticket on ambassador slack :) 
If this 400 is here by design (because of RFC), I guess this ticket can be closed :) 

thanks for checking.


Gotcha. I think we need to do a bit of research to determine if this intended behavior or not before we can close it definitively. I didn't see the Slack convo before posting. 